# Data Processing 
i. Clean and transform raw data into a structured format (handling missing values, 
standardizing fields). 

ii. Merge data from both sources into a single structured dataset.

In [2]:
import pandas as pd

Let's see the data sets

In [3]:
imdb_df = pd.read_csv('imdb.csv')
print('shape : ',imdb_df.shape)
imdb_df.head()

shape :  (250, 5)

                         Title  Year IMDb Rating Runtime   Votes
0  1. The Shawshank Redemption  1994    9.3 (3M)  2h 22m     (3M
1             2. The Godfather  1972  9.2 (2.1M)  2h 55m   (2.1M
2           3. The Dark Knight  2008    9.0 (3M)  2h 32m     (3M
3     4. The Godfather Part II  1974  9.0 (1.4M)  3h 22m   (1.4M
4              5. 12 Angry Men  1957  9.0 (914K)  1h 36m   (914K

In [4]:
mc_df = pd.read_csv('metacritic_movies.csv')
print('shape : ',mc_df.shape)
mc_df.head()

shape :  (16584, 5)

,Title,Year,Metascore,MPAA Rating,Short Description
0,Dekalog (1988),1996.0,100.0,TV-MA,This masterwork by Krzysztof Kieślowski is one...
1,The Conformist,1970.0,100.0,R,"Set in Rome in the 1930s, this re-release of B..."
2,The Leopard (re-release),2004.0,100.0,PG,"Set in Sicily in 1860, Luchino Visconti's spec..."
3,The Godfather,1972.0,100.0,TV-14,Francis Ford Coppola's epic features Marlon Br...
4,Lawrence of Arabia (re-release),2002.0,100.0,Approved,The 40th anniversary re-release of David Lean'...

In [5]:
# checking if there are any null values
print('imdb null values : ',imdb_df.isnull().sum())
print('\n\nmetacritic null values : ',mc_df.isnull().sum())

imdb null values :  Title          0
Year           0
IMDb Rating    0
Runtime        0
Votes          0
dtype: int64


metacritic null values :  Title                   0
Year                  123
Metascore               9
MPAA Rating          1556
Short Description       0
dtype: int64

In [6]:
percent_of_na = mc_df.isnull().sum().sum() * 100 / mc_df.shape[0]
percent_of_na

np.float64(10.178485287023637)

We have no null values in IMDB dataset, and some nulls in metacritic

We drop the records of null values as generally in large datasets we can drop null records <=10

In [7]:
mc_df = mc_df.dropna()
mc_df = mc_df.reset_index(drop=True)

print("Remaining records:", mc_df.shape)

Remaining records: (15005, 5)

### Data Cleaning and Standardizing of <b style='color : green'>IMDB</b> DATASET

Now let's clean IMDB dataset columns

In [8]:
imdb_df.head()

                         Title  Year IMDb Rating Runtime   Votes
0  1. The Shawshank Redemption  1994    9.3 (3M)  2h 22m     (3M
1             2. The Godfather  1972  9.2 (2.1M)  2h 55m   (2.1M
2           3. The Dark Knight  2008    9.0 (3M)  2h 32m     (3M
3     4. The Godfather Part II  1974  9.0 (1.4M)  3h 22m   (1.4M
4              5. 12 Angry Men  1957  9.0 (914K)  1h 36m   (914K

1. in <b style='color:red'>Title</b> column we see it has numbers, So we strip by '.' then substr name and strip leading spaces.
2. in <b style='color:red'>IMDb Rating</b> column we see it has vote included in the rating so we remove it by stripping it or by just substr of first 3 charecters.
3. in <b style='color:red'>Votes</b> column in has '(' we need to remove it.

In [9]:
# Title column cleaning
imdb_df["Title"]=imdb_df["Title"].str.split('.', n=1).str[1].str.strip()
imdb_df.head()

                      Title  Year IMDb Rating Runtime   Votes
0  The Shawshank Redemption  1994    9.3 (3M)  2h 22m     (3M
1             The Godfather  1972  9.2 (2.1M)  2h 55m   (2.1M
2           The Dark Knight  2008    9.0 (3M)  2h 32m     (3M
3     The Godfather Part II  1974  9.0 (1.4M)  3h 22m   (1.4M
4              12 Angry Men  1957  9.0 (914K)  1h 36m   (914K

In [10]:
# IMDb Rating cleaning
imdb_df["IMDb Rating"] = imdb_df["IMDb Rating"].str.split().str[0]
imdb_df.head()

                      Title  Year IMDb Rating Runtime   Votes
0  The Shawshank Redemption  1994         9.3  2h 22m     (3M
1             The Godfather  1972         9.2  2h 55m   (2.1M
2           The Dark Knight  2008         9.0  2h 32m     (3M
3     The Godfather Part II  1974         9.0  3h 22m   (1.4M
4              12 Angry Men  1957         9.0  1h 36m   (914K

In [11]:
# Votes cleaning
imdb_df["Votes"] = imdb_df["Votes"].str.split('(').str[1]
imdb_df.head()

                      Title  Year IMDb Rating Runtime Votes
0  The Shawshank Redemption  1994         9.3  2h 22m    3M
1             The Godfather  1972         9.2  2h 55m  2.1M
2           The Dark Knight  2008         9.0  2h 32m    3M
3     The Godfather Part II  1974         9.0  3h 22m  1.4M
4              12 Angry Men  1957         9.0  1h 36m  914K

Now lets Standardize the imbd dataset columns

In [12]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        250 non-null    object
 1   Year         250 non-null    int64
 2   IMDb Rating  250 non-null    object
 3   Runtime      250 non-null    object
 4   Votes        250 non-null    object
dtypes: int64(1), object(4)
memory usage: 9.9+ KB

In [13]:
imdb_df['Votes'].str[-1].value_counts()

Votes
K    182
M     68
Name: count, dtype: int64

1. the <b style='color:red'>IMDb Rating</b> column is of type object we convert it to float.
2. in <b style='color:red'>Runtime</b> column, we standardize the value to minutes and its type to int.
3. in <b style='color:red'>Votes</b> column, we have 'M','K' we make it as number and convert it's type to int

In [14]:
# IMDb Rating column
imdb_df["IMDb Rating"] = imdb_df["IMDb Rating"].astype(float)
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        250 non-null    object
 1   Year         250 non-null    int64
 2   IMDb Rating  250 non-null    float64
 3   Runtime      250 non-null    object
 4   Votes        250 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 9.9+ KB

In [15]:
# Runtime column
def convert_to_minutes(runtime):
    if pd.isna(runtime):
        return None  # Handle missing values
    time_parts = runtime.split()
    minutes = 0
    for part in time_parts:
        if 'h' in part:
            minutes += int(part.replace('h', '')) * 60  # Convert hours to minutes
        elif 'm' in part:
            minutes += int(part.replace('m', ''))  # Add minutes
    return minutes

imdb_df["Runtime"] = imdb_df["Runtime"].apply(convert_to_minutes)
print(imdb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        250 non-null    object
 1   Year         250 non-null    int64
 2   IMDb Rating  250 non-null    float64
 3   Runtime      250 non-null    int64
 4   Votes        250 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 9.9+ KB
None

In [16]:
# Votes column
def convert_votes(vote):
    if pd.isna(vote):
        return None  # Handle missing values
    vote = vote.upper().replace(",", "")  # Remove commas if present
    if "M" in vote:
        return int(float(vote.replace("M", "")) * 1000000)
    elif "K" in vote:
        return int(float(vote.replace("K", "")) * 1000)
    return int(vote)  # If already a number

imdb_df["Votes"] = imdb_df["Votes"].apply(convert_votes)

In [17]:
imdb_df.head()

                      Title  Year  IMDb Rating  Runtime    Votes
0  The Shawshank Redemption  1994          9.3      142  3000000
1             The Godfather  1972          9.2      175  2100000
2           The Dark Knight  2008          9.0      152  3000000
3     The Godfather Part II  1974          9.0      202  1400000
4              12 Angry Men  1957          9.0       96   914000

In [18]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        250 non-null    object
 1   Year         250 non-null    int64
 2   IMDb Rating  250 non-null    float64
 3   Runtime      250 non-null    int64
 4   Votes        250 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 9.9+ KB

### Data Cleaning and Standardizing of <b style='color : green'>METACRITIC</b> DATASET

METACRITIC dataset columns looks clean, need to check data types

In [19]:
mc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15005 entries, 0 to 15004
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              15005 non-null  object
 1   Year               15005 non-null  float64
 2   Metascore          15005 non-null  float64
 3   MPAA Rating        15005 non-null  object
 4   Short Description  15005 non-null  object
dtypes: float64(2), object(3)
memory usage: 586.3+ KB

In [20]:
# convert year to int
mc_df['Year']= mc_df['Year'].astype(int)

In [21]:
mc_df.head()

,Title,Year,Metascore,MPAA Rating,Short Description
0,Dekalog (1988),1996,100.0,TV-MA,This masterwork by Krzysztof Kieślowski is one...
1,The Conformist,1970,100.0,R,"Set in Rome in the 1930s, this re-release of B..."
2,The Leopard (re-release),2004,100.0,PG,"Set in Sicily in 1860, Luchino Visconti's spec..."
3,The Godfather,1972,100.0,TV-14,Francis Ford Coppola's epic features Marlon Br...
4,Lawrence of Arabia (re-release),2002,100.0,Approved,The 40th anniversary re-release of David Lean'...

# Merge data from both datasets

we will use 'INNER' join as it would be helpful to have common datapoints and we can worked further

In [22]:
merged_df = imdb_df.merge(mc_df, on="Title", how="inner",suffixes=('_imdb', '_mc'))  
print("Merged dataset shape:", merged_df.shape)

merged_df.head()

Merged dataset shape: (238, 9)

,Title,Year_imdb,IMDb Rating,Runtime,Votes,Year_mc,Metascore,MPAA Rating,Short Description
0,The Shawshank Redemption,1994,9.3,142,3000000,1994,82.0,TV-14,"Wrongly convicted, Andy Dufresne (Tim Robbins)..."
1,The Godfather,1972,9.2,175,2100000,1972,100.0,TV-14,Francis Ford Coppola's epic features Marlon Br...
2,The Dark Knight,2008,9.0,152,3000000,2008,84.0,TV-14,Batman raises the stakes in his war on crime. ...
3,12 Angry Men,1957,9.0,96,914000,1957,97.0,Approved,"12 Angry Men, by Sidney Lumet, is a behind-clo..."
4,The Lord of the Rings: The Return of the King,2003,9.0,201,2100000,2003,94.0,PG-13,Sauron's forces have laid siege to Minas Tirit...

In [23]:
# clean merged_df
# we can remove any of duplicate columns YEAR_imdb, YEAR_mc and rename it to YEAR
merged_df.drop(columns=['Year_mc'], inplace=True)
merged_df.rename(columns={'Year_imdb': 'YEAR'}, inplace=True)

In [24]:
merged_df.head()

,Title,YEAR,IMDb Rating,Runtime,Votes,Metascore,MPAA Rating,Short Description
0,The Shawshank Redemption,1994,9.3,142,3000000,82.0,TV-14,"Wrongly convicted, Andy Dufresne (Tim Robbins)..."
1,The Godfather,1972,9.2,175,2100000,100.0,TV-14,Francis Ford Coppola's epic features Marlon Br...
2,The Dark Knight,2008,9.0,152,3000000,84.0,TV-14,Batman raises the stakes in his war on crime. ...
3,12 Angry Men,1957,9.0,96,914000,97.0,Approved,"12 Angry Men, by Sidney Lumet, is a behind-clo..."
4,The Lord of the Rings: The Return of the King,2003,9.0,201,2100000,94.0,PG-13,Sauron's forces have laid siege to Minas Tirit...

In [25]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              238 non-null    object
 1   YEAR               238 non-null    int64
 2   IMDb Rating        238 non-null    float64
 3   Runtime            238 non-null    int64
 4   Votes              238 non-null    int64
 5   Metascore          238 non-null    float64
 6   MPAA Rating        238 non-null    object
 7   Short Description  238 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 15.0+ KB

In [26]:
merged_df.to_csv("merged_movies.csv", index=False)